body {
  background: #f0f0f0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
  text-shadow: 0 1px 0 #fff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-bottom: 12px;
}
.todos {
  margin-left: 20px;
  width: 50%;
}
.todos li.todo {
  margin-bottom: 30px;
}
.todos .text {
  font-weight: bold;
}
.todos .points {
  background: #008000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #fff;
  float: left;
  font-weight: bold;
  margin-right: 5px;
  padding: 2px 5px;
  position: relative;
  text-shadow: 0 1px 0 #000;
  top: 1px;
}
.todos .points.points-1 {
  background: #009e00;
}
.todos .points.points-2 {
  background: #00a300;
}
.todos .points.points-3 {
  background: #00a800;
}
.todos .points.points-4 {
  background: #00ad00;
}
.todos .points.points-5 {
  background: #00b200;
}
.todos .points.points-6 {
  background: #00b700;
}
.todos .points.points-7 {
  background: #00bc00;
}
.todos .points.points-8 {
  background: #00c100;
}
.todos .points.points-9 {
  background: #00c600;
}
.todos .points.points-10 {
  background: #00cb00;
}
.todos .points.points-11 {
  background: #00d000;
}
.todos .points.points-12 {
  background: #00d500;
}
.todos .points.points-13 {
  background: #00da00;
}
.todos .points.points-14 {
  background: #00df00;
}
.todos .points.points-15 {
  background: #00e400;
}
.todos .points.points-16 {
  background: #00e900;
}
.todos .points.points-17 {
  background: #0e0;
}
.todos .points.points-18 {
  background: #00f300;
}
.todos .points.points-19 {
  background: #00f800;
}
.todos .points.points-20 {
  background: #00fd00;
}
.todos ul.assigned-to li {
  color: #999;
  font-size: 13px;
  margin: 3px 5px 3px 50px;
}
.todos .due {
  color: #999;
  margin-left: 20px;
}
.todos button.done {
  background: #f00;
  border: 1px solid #c00;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #fff;
  font-weight: bold;
  background: -moz-linear-gradient(top, #e60000 0%, #c00 50%, #b30000);
  background: -webkit-gradient(linear, left top, left bottom, from(#e60000), color-stop(0.5, #c00), to(#b30000));
  margin-left: 20px;
  padding-bottom: 2px;
  position: relative;
  text-shadow: 0 1px 0 #c00;
  top: -1px;
}
.todos button.done:hover {
  background: -moz-linear-gradient(top, #e60000 0%, #e60000 50%, #b30000);
  background: -webkit-gradient(linear, left top, left bottom, from(#e60000), color-stop(0.5, #e60000), to(#b30000));
}
.todos button.done:active {
  background: -moz-linear-gradient(top, #b30000 0%, #c00 50%, #e60000);
  background: -webkit-gradient(linear, left top, left bottom, from(#b30000), color-stop(0.5, #c00), to(#e60000));
}
.scoreboard {
  background: #777;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 5px 10px #777;
  -moz-box-shadow: 0 5px 10px #777;
  -webkit-box-shadow: 0 5px 10px #777;
  color: #fff;
  float: right;
  padding: 30px;
  text-shadow: 0 1px 1px #000;
  width: 200px;
}
.scoreboard .score {
  font-size: 16px;
  font-weight: bold;
}
.scoreboard .score:last-child {
  margin-bottom: 0;
}
.scoreboard .score .points {
  background: #0a0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 1px #000 inset;
  -moz-box-shadow: 0 1px 1px #000 inset;
  -webkit-box-shadow: 0 1px 1px #000 inset;
  margin-right: 10px;
  padding: 3px;
}
