body {
  background: #f0f0f0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 50px;
  text-shadow: 0 1px 0 #fff;
}
h2 {
  clear: left;
}
button {
  background: #600;
  border: 1px solid #800;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: -moz-linear-gradient(top, #c00 0%, #a00 50%, #800);
  background: -webkit-gradient(linear, left top, left bottom, from(#c00), color-stop(0.5, #a00), to(#800));
  padding-bottom: 2px;
  position: relative;
  text-shadow: 0 1px 0 #500;
  top: -1px;
}
button.faded {
  border-color: #999;
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 50%, #999);
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), color-stop(0.5, #bbb), to(#999));
  text-shadow: 0 1px 0 #555;
}
button.plus {
  font-size: 12px;
  padding: 0 5px 3px;
}
button.secondary {
  background: none;
  border: none;
  color: #00a;
  text-shadow: 0 1px 0 #fff;
}
button.secondary:hover {
  background: none;
  border: none;
  text-decoration: underline;
  text-shadow: 0 1px 0 #fff;
}
button.small {
  font-size: 12px;
  padding: 3px 5px;
}
button:hover {
  border: 1px solid #a00;
  background: -moz-linear-gradient(top, #e00 0%, #c00 50%, #a00);
  background: -webkit-gradient(linear, left top, left bottom, from(#e00), color-stop(0.5, #c00), to(#a00));
  text-shadow: 0 1px 0 #a00;
}
button:active {
  background: -moz-linear-gradient(top, #c00 0%, #d00 50%, #e00);
  background: -webkit-gradient(linear, left top, left bottom, from(#c00), color-stop(0.5, #d00), to(#e00));
}
button .plus {
  font-family: Impact;
  font-size: 16px;
  position: relative;
  text-shadow: 0 1px 0 #030;
  top: 2px;
}
input,
textarea {
  border: 1px solid #aaa;
  display: block;
  font-size: 14px;
  margin: 3px 0;
  padding: 3px;
}
label {
  display: block;
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
ol li,
ul li {
  margin-bottom: 12px;
}
ul {
  list-style-type: none;
}
div.add-task {
  margin-left: 20px;
}
div.add-task div.buttons {
  float: left;
}
div.add-task div.buttons button.cancel {
  display: block;
  margin-top: 5px;
  text-align: center;
  width: 100%;
}
div.add-task div.form {
  margin-left: 95px;
  position: relative;
  top: 2px;
}
div.add-task div.form input.assignee,
div.add-task div.form input[name="due"] {
  width: 250px;
}
div.add-task div.form input[type="number"] {
  width: 50px;
  display: inline;
}
div.add-task div.form textarea {
  width: 250px;
}
div.todos,
div.done {
  margin-left: 20px;
}
div.todos li.todo,
div.done li.todo {
  margin-bottom: 30px;
}
div.todos .text,
div.done .text {
  font-weight: bold;
}
div.todos .points,
div.done .points {
  background: #008000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #fff;
  float: left;
  font-weight: bold;
  margin-right: 20px;
  padding: 2px 5px;
  position: relative;
  text-shadow: 0 1px 0 #000;
  top: 1px;
}
div.todos .points.points-1,
div.done .points.points-1 {
  background: #009e00;
}
div.todos .points.points-2,
div.done .points.points-2 {
  background: #00a300;
}
div.todos .points.points-3,
div.done .points.points-3 {
  background: #00a800;
}
div.todos .points.points-4,
div.done .points.points-4 {
  background: #00ad00;
}
div.todos .points.points-5,
div.done .points.points-5 {
  background: #00b200;
}
div.todos .points.points-6,
div.done .points.points-6 {
  background: #00b700;
}
div.todos .points.points-7,
div.done .points.points-7 {
  background: #00bc00;
}
div.todos .points.points-8,
div.done .points.points-8 {
  background: #00c100;
}
div.todos .points.points-9,
div.done .points.points-9 {
  background: #00c600;
}
div.todos .points.points-10,
div.done .points.points-10 {
  background: #00cb00;
}
div.todos .points.points-11,
div.done .points.points-11 {
  background: #00d000;
}
div.todos .points.points-12,
div.done .points.points-12 {
  background: #00d500;
}
div.todos .points.points-13,
div.done .points.points-13 {
  background: #00da00;
}
div.todos .points.points-14,
div.done .points.points-14 {
  background: #00df00;
}
div.todos .points.points-15,
div.done .points.points-15 {
  background: #00e400;
}
div.todos .points.points-16,
div.done .points.points-16 {
  background: #00e900;
}
div.todos .points.points-17,
div.done .points.points-17 {
  background: #0e0;
}
div.todos .points.points-18,
div.done .points.points-18 {
  background: #00f300;
}
div.todos .points.points-19,
div.done .points.points-19 {
  background: #00f800;
}
div.todos .points.points-20,
div.done .points.points-20 {
  background: #00fd00;
}
div.todos ul.assigned-to li,
div.done ul.assigned-to li {
  color: #999;
  font-size: 13px;
  margin: 3px 5px 3px 50px;
}
div.todos .due,
div.done .due {
  color: #999;
  margin: 0 20px;
}
div.done .assigned-to {
  display: inline;
  margin: 0 10px;
}
div.done .assigned-to li {
  display: inline-block;
  margin: 0 !important;
  padding: 0;
}
div.done .assigned-to li:after {
  content: ",";
  margin-right: 3px;
}
div.done .assigned-to li:last-child:after {
  content: "";
  margin-right: 0;
}
.scoreboard {
  background: #777;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 5px 10px #777;
  -moz-box-shadow: 0 5px 10px #777;
  -webkit-box-shadow: 0 5px 10px #777;
  color: #fff;
  float: right;
  padding: 30px;
  text-shadow: 0 1px 1px #000;
  width: 300px;
}
.scoreboard .score {
  font-size: 16px;
  font-weight: normal;
  margin-left: 20px;
}
.scoreboard .score:last-child {
  margin-bottom: 0;
}
.scoreboard .score .points {
  background: #0a0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 1px #000 inset;
  -moz-box-shadow: 0 1px 1px #000 inset;
  -webkit-box-shadow: 0 1px 1px #000 inset;
  margin-right: 10px;
  padding: 3px 6px;
}
