pale = #999


border-radius(n)
  border-radius n
  -moz-border-radius n
  -webkit-border-radius n

box-shadow()
  box-shadow arguments
  -moz-box-shadow arguments
  -webkit-box-shadow arguments

gradient(color-top, color-middle, color-bottom)
  background -moz-linear-gradient(top, color-top 0%, color-middle 50%, color-bottom)
  background -webkit-gradient(linear, left top, left bottom, from(color-top), color-stop(0.50, color-middle), to(color-bottom))


body
  background #f0f0f0
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  padding 10px 50px
  text-shadow 0 1px 0 white

ol, ul
  margin 0
  padding 0

  li
    margin-bottom 12px

ul
  list-style-type none

div.todos, div.done
  margin-left 20px
  width 50%
  
  li.todo
    margin-bottom 30px

  .text
    font-weight bold

  .points
    background green
    border-radius 3px
    color white
    float left
    font-weight bold
    margin-right 5px
    padding 2px 5px
    position relative
    text-shadow 0 1px 0 black
    top 1px

    for points in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
      &.points-{points}
        background #090 + (rgb(0, 5, 0) * points)

  ul.assigned-to li
    color pale
    font-size 13px
    margin 3px 5px 3px 50px

  .due
    color pale
    margin 0 20px

  button.done
    background red
    border 1px solid (#f00 - 20%)
    border-radius 3px
    color white
    font-weight bold
    gradient (#f00 - 10%) (#f00 - 20%) (#f00 - 30%)
    padding-bottom 2px
    position relative
    text-shadow 0 1px 0 (#f00 - 20%)
    top -1px

    &:hover
      gradient (#f00 - 10%) (#f00 - 10%) (#f00 - 30%)

    &:active
      gradient (#f00 - 30%) (#f00 - 20%) (#f00 - 10%)

div.done
  .assigned-to 
    display inline
    margin-left 10px

    li
      display inline-block
      margin 0 !important
      padding 0

      &:after
        content ","
        margin-right 3px

      &:last-child:after
        content ""
        margin-right 0

  .points
    top -2px

.scoreboard
  background #777
  border-radius 10px
  box-shadow 0 5px 10px #777
  color white
  float right
  padding 30px
  text-shadow 0 1px 1px black
  width 300px

  .score
    font-size 16px
    font-weight normal
    margin-left 20px

    &:last-child
      margin-bottom 0

    .points
      background #0a0
      border-radius 3px
      box-shadow 0 1px 1px black inset
      margin-right 10px
      padding 3px 6px
