pale = #999
link = #00a


border-radius(n)
  border-radius n
  -moz-border-radius n
  -webkit-border-radius n

box-shadow()
  box-shadow arguments
  -moz-box-shadow arguments
  -webkit-box-shadow arguments

gradient(color-top, color-middle, color-bottom)
  background -moz-linear-gradient(top, color-top 0%, color-middle 50%, color-bottom)
  background -webkit-gradient(linear, left top, left bottom, from(color-top), color-stop(0.50, color-middle), to(color-bottom))


body
  background #f0f0f0
  font 16px "Lucida Grande", Helvetica, Arial, sans-serif
  padding 10px 50px
  text-shadow 0 1px 0 white

button
  base-red = #c00

  background (base-red - #600)
  border 1px solid (base-red - #400)
  border-radius 3px
  color white
  font-size 14px
  font-weight bold
  gradient base-red (base-red - #200) (base-red - #400)
  padding-bottom 2px
  position relative
  text-shadow 0 1px 0 #500
  top -1px

  &.faded
    base-gray = #999

    border-color base-gray
    gradient (base-gray + #444) (base-gray + #222) base-gray
    text-shadow 0 1px 0 (base-gray - #444)

  &.plus
    font-size 12px
    padding 0 5px 3px

  &.secondary
    background none
    border none
    color link
    text-shadow 0 1px 0 white

    &:hover
      background none
      border none
      text-decoration underline
      text-shadow 0 1px 0 white

  &.small
    font-size 12px
    padding 3px 5px

  &:hover
    border 1px solid (base-red - #200)
    gradient (base-red + #200) base-red (base-red - #200)
    text-shadow 0 1px 0 (base-red - #200)

  &:active
    gradient base-red (base-red + #100) (base-red + #200)

  .plus
    font-family Impact
    font-size 16px
    position relative
    text-shadow 0 1px 0 #030
    top 2px

input, textarea
  border 1px solid #aaa
  display block
  font-size 14px
  margin 3px 0
  padding 3px

label
  display block
  margin 0
  padding 0

ol, ul
  margin 0
  padding 0

  li
    margin-bottom 12px

ul
  list-style-type none

div.add-task 
  margin-left 20px

  div.buttons
    width 90px

    button.cancel
      display block
      margin-top 5px
      text-align center
      width 100%

  div.form
    margin-left 95px
    margin-top -55px
    width 260px

    input
      &.assignee, &[name='due']
        width 250px

      &[type='number']
        width 50px
        display inline

    textarea
      width 250px

div.todos, div.done
  margin-left 20px
  
  li.todo
    margin-bottom 30px

  .text
    font-weight bold

  .points
    background green
    border-radius 3px
    color white
    float left
    font-weight bold
    margin-right 20px
    padding 2px 5px
    position relative
    text-shadow 0 1px 0 black
    top 1px

    for points in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
      &.points-{points}
        background #090 + (rgb(0, 5, 0) * points)

  ul.assigned-to li
    color pale
    font-size 13px
    margin 3px 5px 3px 53px

  .due
    color pale
    margin 0 20px

div.done
  .assigned-to 
    display inline
    margin 0 10px

    li
      display inline-block
      margin 0 !important
      padding 0

      &:after
        content ","
        margin-right 3px

      &:last-child:after
        content ""
        margin-right 0

.scoreboard
  background #777
  border-radius 10px
  box-shadow 0 5px 10px #777
  color white
  float right
  padding 30px
  text-shadow 0 1px 1px black
  width 300px

  .score
    font-size 16px
    font-weight normal
    margin-left 20px

    &:last-child
      margin-bottom 0

    .points
      background #0a0
      border-radius 3px
      box-shadow 0 1px 1px black inset
      margin-right 10px
      padding 3px 6px
